<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<bindingRedirects>
		<add key="skip" value="false" />
	</bindingRedirects>
	<disabledPackageSources>
		<clear />
	</disabledPackageSources>
	<packageRestore>
		<add key="automatic" value="true" />
		<add key="enabled" value="true" />
	</packageRestore>
	<packageSources>
		<clear />
		<add key="nuget.org" protocolVersion="3" value="https://api.nuget.org/v3/index.json" />
		<add key="proget.example.org" protocolVersion="3" value="https://proget.example.org/nuget/Feed/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<proget.example.org>
			<!-- The package gss-ntlmssp/gssntlmssp needs to be installed on the Linux build-agent. -->
			<add key="ClearTextPassword" value="%NUGET_FEED_PASSWORD%" />
			<add key="Username" value="%NUGET_FEED_USER%" />
			<add key="ValidAuthenticationTypes" value="negotiate, ntlm" />
		</proget.example.org>
	</packageSourceCredentials>
</configuration>